name: Common Playwright Setup
description: Shared steps for installing and caching Playwright Chromium
inputs:
  os:
    description: Operating system
    required: false
    default: "ubuntu-latest"

runs:
  using: composite
  steps:
    # Install playwright's binary under custom directory to cache
    - name: (non-windows) Set Playwright path and Get playwright version
      if: inputs.os != 'Windows'
      run: |
        echo "PLAYWRIGHT_BROWSERS_PATH=$HOME/.cache/playwright-bin" >> $GITHUB_ENV
        PLAYWRIGHT_VERSION="$(pnpm ls --depth 0 --json -w playwright-chromium | jq --raw-output '.[0].devDependencies["playwright-chromium"].version')"
        echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV
      shell: bash

    - name: (windows) Set Playwright path and Get playwright version
      if: inputs.os == 'Windows'
      run: |
        echo "PLAYWRIGHT_BROWSERS_PATH=$HOME\.cache\playwright-bin" >> $env:GITHUB_ENV
        $env:PLAYWRIGHT_VERSION="$(pnpm ls --depth 0 --json -w playwright-chromium | jq --raw-output '.[0].devDependencies["playwright-chromium"].version')"
        echo "PLAYWRIGHT_VERSION=$env:PLAYWRIGHT_VERSION" >> $env:GITHUB_ENV
      shell: pwsh

    - name: Cache Playwright's binary
      uses: actions/cache@v4
      with:
        key: ${{ inputs.os }}-playwright-bin-v1-${{ env.PLAYWRIGHT_VERSION }}
        path: ${{ env.PLAYWRIGHT_BROWSERS_PATH }}
        restore-keys: |
          ${{ inputs.os }}-playwright-bin-v1-

    - name: Install Playwright
      working-directory: ./test
      # does not need to explicitly set chromium after https://github.com/microsoft/playwright/issues/14862 is solved
      run: pnpm playwright install chromium
      shell: bash
