# Dependencies
node_modules

# @lazarv/react-server specific
.react-server

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Cache
.eslintcache

# Vercel
.vercel

# Cache
.eslintcache
